<!DOCTYPE html>
<html class="no-js" lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<meta http-equiv="Cache-Control" content="no-transform" />
	<title>{$TDK.title}</title>
	<meta name="keywords" content="{$TDK.keyword}" />
	<meta name="description" content="{$TDK.description}" />
	<link rel="canonical" href="{$TDK.canonicalurl}"/>
	<link rel="shortcut icon" href="/favicon.ico" />
	<link rel="stylesheet" href="__PUBLIC__/{$theme}/css/style.css" type="text/css" media="screen" />
	<link rel="stylesheet" media="screen and (max-width:600px)" href="__PUBLIC__/{$theme}/css/mobile.css" type="text/css" />
	<script src="__PUBLIC__/{$theme}/js/jquery2.1.4.min.js?v{$version}"></script>
	<script src="__PUBLIC__/{$theme}/js/user.js"></script>
</head>
<body>
<include file="Public/header" />
<div class="container">
	<div class="inner">
		<div class="title">{$TDK.webname}重磅推荐</div>
		<foreach name="dataarea_list.pc_index_fengtui" item="v">
		<div class="details">
			<div class="item-img">
				<a href="{$v.rewriteurl}" title="{$TDK.webname} {$v.title}"><img {$comset.src}="{$v.thumb}" alt="{$TDK.webname} {$v.title}" onerror="this.src='__PUBLIC__/images/nocover.jpg'" /></a>
				<h2><a href="{$v.rewriteurl}">{$v.title}</a></h2>
				作者：<a href="{:reurl('author', $v)}" target="_blank" title="{$v.author}">{$v.author}</a>
				<p>{$v.description}...</p>
			</div>
		</div>
		</foreach>
	</div>
</div>
<div class="container ads">
	<div class="inner">
		{$advcode.index_1.code}
	</div>
</div>
<div class="container">
	<foreach name="dataarea_list.pc_index_zhutui" item="v">		
	<div class="inner">
		<div class="bookinfo">
			<div class="bimg"><a href="{$v.rewriteurl}" title="{$TDK.webname} {$v.title}"><img {$comset.src}="{$v.thumb}" alt="{$TDK.webname} {$v.title}" onerror="this.src='__PUBLIC__/images/nocover.jpg'" /></a></div>
			<div class="bextra">
				<div class="btitle">
					<h1><a href="{$v.rewriteurl}" title="{$TDK.webname} {$v.title}">{$v.title}</a></h1>
					<em>作者：<a href="{:reurl('author', $v)}" target="_blank" title="{$v.author}">{$v.author}</a></em>
				</div>
				<div class="infobar">
					<p class="stats fl">
						<b>最新章节：</b><a href="{:reurl('chapter', array( 'id' => $v['articledb']['id'], 'cate' => $v['articledb']['cate'], 'cid' => $v['articledb']['lastcid']))}" target="_blank" title="{$v.title}最新章节">{$v.articledb.lastchapter}</a>
					</p>			
					<div class="status fr">
						<em>状态：</em>连载中&nbsp;&nbsp;&nbsp;
						<em>更新时间：</em>{$v.articledb.time}
					</div>
					<div class="clear"></div>
				</div>
				<div class="intro">
					<b>内容简介：</b>{$v.articledb.content}
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<dl class="chapterlist">
		<dt class="title">{$v.title}最近更新列表</dt>
			<foreach name="v.newchapter" item="v2">
			<dd><a href="{:reurl('chapter', $v2, $maindomain)}" target="_blank" title="{$v.title} {$v2.title}">{$v2.title}</a></dd>
			</foreach>
			<div class="clear"></div>
		</dl>
	</div>
	</foreach>
</div>
<div class="container ads">
	<div class="inner">		
		{$advcode.index_2.code}	
	</div>
</div>
<div class="container">
	<div id="content">
		<div class="inner">
			<div class="title"><h3>{$TDK.webname}最近更新</h3></div>
			<div class="details">
				<ul class="gengxin">
					<foreach name="updatelist" item="v">
					<li>
						<span class="col1"><a href="{$v['rewriteurl']}" title="{$TDK.webname} {$v['title']}">{$v['title']}</a></span>
						<span class="col2"><a href="{$v['lastchapterurl']}" title="{$v['title']}最新章节" target="_blank">{$v['lastchapter']}</a></span>
						<span class="col3"><a href="{:reurl('author', $v)}" target="_blank" title="{$v.author}">{$v.author}</a></span>
						<span class="col4">{$v['updatetime']}</span>
					</li>
					</foreach>
				</ul>
			</div>
		</div>
	</div>
	<div id="sidebar">
		<div class="inner">
			<div class="title"><h3>{$TDK.webname}最新入库</h3></div>
			<div class="details">
				<ul class="item-list">
				<foreach name="newestlist" item="v">
					<li><a href="{$v['rewriteurl']}" title="{$TDK.webname} {$v['title']}">{$v['title']}</a>/<a href="{:reurl('author', $v)}" target="_blank" title="{$v.author}">{$v.author}</a></li>
				</foreach>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="inner links">
		<div class="title">{$TDK.webname}友情链接</div>
			<ul class="link">
				<foreach name="TDK.flink" item="v3">
				<li><a href="{$v3['url']}" title="{$v3['name']}" target="_blank">{$v3['name']}</a></li></li>
				</foreach>
			</ul>
	</div>
</div>
<include file="Public/footer" />
</body>
</html>