<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="application/xhtml+xml;charset=utf-8" />
	<title>{$TDK.title}</title>
	<meta name="keywords" content="{$TDK.keyword}" />
	<meta name="description" content="{$TDK.description}" />
	<meta name="MobileOptimized" content="240"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0,	minimum-scale=1.0, maximum-scale=1.0" />
	<link rel="shortcut icon" href="/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/{$theme}/css/base.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/{$theme}/css/sort.css" />
</head>
<body>
<include file="Public/header" />
{$advcode.list_1.code_wap}
<div class="toptab"><span class="active"><a href="{$TDK.canonicalurl}">{$author}</a>作品集</span></div>
<foreach name="articlelist" item="v">
<div class="bookbox">
	<div class="bookimg"><a href="{$v.rewriteurl}" title="{$v.title}"><img {$comset.src}="{$v.thumb}" alt="{$v.title}" onerror="this.src='__PUBLIC__/images/nocover.jpg'"></a></div>
	<div class="bookinfo">
		<h4 class="bookname"><i class="iTit"><a href="{$v.rewriteurl}" title="{$v.title}">{$v.title}</a></i></h4>
		<div class="author">作者：<a href="{:reurl('author', $v)}" title="{$v.author}">{$v.author}</a></div>
		<div class="cl0"></div>
		<div class="update"><span>更新至：</span><a href="{$v['rewriteurl']}">{$v.lastchapter}</a></div>
		<div class="cl0"></div>
		<div class="intro_line"><span>简介：</span>{$v.description}</div>
	</div>
</div>
</foreach>
<div id="pages">{$pagehtml}</div>
{$advcode.list_2.code_wap}
<include file="Public/footer" />
</body>
</html>