<if condition="$index eq 0">
<?xml version="1.0" encoding="utf-8"?>
<sitemapindex xmlns="{$comset.http}www.sitemaps.org/schemas/sitemap/0.9">
<foreach name="sitemapdata['maplist']" key="key" item="vo">
	<sitemap>
		<loc><![CDATA[{:C('NOWHOST')}{$vo.listurl}]]></loc>
		<lastmod>{$sitemapdata.mapinfo.dateline}</lastmod>
	</sitemap>
</foreach>
</sitemapindex>
<elseif condition="$index eq 1"/>
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="{$comset.http}www.sitemaps.org/schemas/sitemap/0.9">
	<url>
		<loc>{$sitemapdata.mapinfo.weburl}</loc>
		<lastmod>{$sitemapdata.mapinfo.dateline}</lastmod>
		<changefreq>daily</changefreq>
		<priority>1.0</priority>
	</url>
	<foreach name="sitemapdata.category" key="key" item="vo">
	<url>
		<loc>{$vo.url}</loc>
		<lastmod>{$sitemapdata.mapinfo.dateline}</lastmod>
		<changefreq>daily</changefreq>
		<priority>0.3</priority>
	</url>
	</foreach>
	<foreach name="sitemapdata.taginfo" key="key" item="vo">
	<url>
		<loc>{$vo.rewriteurl}</loc>
		<lastmod>{$sitemapdata.mapinfo.dateline}</lastmod>
		<changefreq>daily</changefreq>
		<priority>0.3</priority>
	</url>
	</foreach>
</urlset>
<else />
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="{$comset.http}www.sitemaps.org/schemas/sitemap/0.9">
	<url>
		<loc>{$sitemapdata.mapinfo.weburl}</loc>
		<lastmod>{$sitemapdata.mapinfo.dateline}</lastmod>
		<changefreq>daily</changefreq>
		<priority>1.0</priority>
	</url>
	<foreach name="sitemapdata.mapinfo.maplist" key="key" item="vo">
	<url>
		<loc>{$vo.rewriteurl}</loc>
		<lastmod>{$sitemapdata.mapinfo.dateline}</lastmod>
		<changefreq>daily</changefreq>
		<priority>0.8</priority>
	</url>
	</foreach>
</urlset>
</if>
