<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$TDK.title}</title>
<meta name="keywords" content="{$TDK.keyword}" />
<meta name="description" content="{$TDK.description}" />
<link rel="canonical" href="{$TDK.canonicalurl}"/>
<link rel="shortcut icon" href="/favicon.ico">
<meta name="applicable-device" content="pc">
<meta http-equiv="mobile-agent" content="format=html5; url={$TDK.canonicalurl_m}">
<link href="__PUBLIC__/{$theme}/css/base.css" rel="stylesheet">
<link href="__PUBLIC__/{$theme}/css/book.css" rel="stylesheet">
<script src="__PUBLIC__/{$theme}/js/base.js" type="text/javascript"></script>
</head>
<body>
<div id="wrapper">
	<include file="Public/header" />
	<div class="container">
		<div class="inner">
			<div class="title"><span class="label"></span><em>小说月榜</em></div>
			<div class="details cf">
				<foreach name="hotlist" item="v">
				<div class="item-img">
				<a href="{$v['rewriteurl']}" title="{$v['title']}"><img src="{$v['thumb']}" alt="{$v['title']}" /></a>
				<h5><a href="{$v['rewriteurl']}" title="{$v['title']}">{$v['title']}</a></h5>
				作者：<a href="{:reurl('author', $v)}" target="_blank" title="{$v.author}">{$v.author}</a>
				<p>{$v['description']}......</p>
				</div>
				</foreach>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="list_center">
			<div class="title">
				<span class="label"></span><em>全本小说大全</em>
			</div>
			<div id="sitebox" class="cf">
				<foreach name="dataarea_list.81zw_fulllist" item="v">
				<dl>
					<dt><a href="{$v.rewriteurl}" target="_blank"><img src="{$v.thumb}" alt="{$v.title}" height="155" width="120"></a></dt>
					<dd><h3><span class="uptime">{$v.updatetime}</span><a href="{$v.rewriteurl}" target="_blank">{$v.title}</a></h3></dd>
					<dd class="book_other">作者：<span><a href="{:reurl('author', $v)}" target="_blank" title="{$v.author}">{$v.author}</a></span>状态：<span>{$v.status}</span>类别：<span><a href="{$v.cateurl}">{$v.catename}</a></span></dd>
					<dd class="book_des">{$v.description}......<a href="{$v.rewriteurl}" target="_blank">[详细]</a></dd>
					<dd class="book_other">最新章节：<a href="{$v.lastchapterurl}" target="_blank">{$v.lastchapter}</a></dd>
					<dd class="book_other"></dd>
				</dl>
				</foreach>
			</div>
			<div class="pages">
				{$pagehtml}
			</div>
		</div>
	</div>
	<include file="Public/footer" />
</div>
<script src="__PUBLIC__/{$theme}/js/footer.js"></script>
</body>
</html>